.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container{
    background-color: #240e17;
    padding: 20px;
    text-align: center;
}

/* For mobile responsive */

@media screen and (max-width: 600px) {

    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        margin: 100px 50px;
    }
}